@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: theme('colors.red.600') !important;
  background: theme('colors.white');
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px !important;
}

.thumbs-swiper .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide {
  height: auto !important;
}